<%# app/views/movies/_category_form.html.erb %>

<%= form_with model: movie do |form| %>

  Categories: <br>
  <ul>
    <%= render "movies/categories", movie: @movie %>
  </ul>

  <p>
    Add category:
    <%= form.collection_select(
      :category_id,
      movie.absent_categories,
      :id, :name,
      :include_blank => true
    )%>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
